@inject ISettingDal settingRepository
@{
    var settings = await settingRepository.GetAllSettingsAsync();
}

<header>
    <div id="carouselExampleIndicators"
         class="carousel slide"
         data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active"
                 style="
              background-image: url('https://bootstrapmade.com/demo/templates/Mamba/assets/img/slide/slide-1.jpg');
            ">
                <div class="overlay"></div>
                <div class="header__content__container d-flex justify-content-center align-items-center h-100">
                    <div class="header__content">
                        <div class="row">
                            <div class="px-5 px-lg-0 col-12 col-lg-5">
                                <div class="container">
                                    <h1 class="text-light fw-bold">Welcome to Mamba</h1>
                                    <p class="text-light mt-2">
                                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                                        ea ut et est quaerat sequi nihil ut aliquam. Occaecati
                                        alias dolorem mollitia ut. Similique ea voluptatem. Esse
                                        doloremque accusamus repellendus deleniti vel. Minus et
                                        tempore modi architecto. Read More
                                    </p>
                                    <button class="btn btn-primary">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item"
                 style="
              background-image: url('https://bootstrapmade.com/demo/templates/Mamba/assets/img/slide/slide-2.jpg');
            ">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="overlay"></div>
                    <div class="header__content">
                        <div class="row">
                            <div class="px-5 px-lg-0 col-12 col-lg-5">
                                <div class="container">
                                    <h1 class="text-light fw-bold">Welcome to Mamba</h1>
                                    <p class="text-light mt-2">
                                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                                        ea ut et est quaerat sequi nihil ut aliquam. Occaecati
                                        alias dolorem mollitia ut. Similique ea voluptatem. Esse
                                        doloremque accusamus repellendus deleniti vel. Minus et
                                        tempore modi architecto. Read More
                                    </p>
                                    <button class="btn btn-primary">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item"
                 style="
              background-image: url('https://bootstrapmade.com/demo/templates/Mamba/assets/img/slide/slide-3.jpg');
            ">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="overlay"></div>
                    <div class="header__content">
                        <div class="row">
                            <div class="px-5 px-lg-0 col-12 col-lg-5">
                                <div class="container">
                                    <h1 class="text-light fw-bold">Welcome to Mamba</h1>
                                    <p class="text-light mt-2">
                                        Ut velit est quam dolor ad a aliquid qui aliquid. Sequi
                                        ea ut et est quaerat sequi nihil ut aliquam. Occaecati
                                        alias dolorem mollitia ut. Similique ea voluptatem. Esse
                                        doloremque accusamus repellendus deleniti vel. Minus et
                                        tempore modi architecto. Read More
                                    </p>
                                    <button class="btn btn-primary">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>
<main>
    <section id="services" class="py-5">
        <div class="container">
            <h1 class="fw-bold text-center fs-3" style="color: #428bca">
                Services
            </h1>
            <div class="row py-5">
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
                    <div class="service__logo d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h1 class="text-center mt-3">Lorem Ipsum</h1>
                    <div class="divider my-2"></div>
                    <p class="text-center">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
                    <div class="service__logo d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h1 class="text-center mt-3">Lorem Ipsum</h1>
                    <div class="divider my-2"></div>
                    <p class="text-center">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
                    <div class="service__logo d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h1 class="text-center mt-3">Lorem Ipsum</h1>
                    <div class="divider my-2"></div>
                    <p class="text-center">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
                    <div class="service__logo d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h1 class="text-center mt-3">Lorem Ipsum</h1>
                    <div class="divider my-2"></div>
                    <p class="text-center">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
                    <div class="service__logo d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h1 class="text-center mt-3">Lorem Ipsum</h1>
                    <div class="divider my-2"></div>
                    <p class="text-center">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center my-3">
                    <div class="service__logo d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-comment-dots"></i>
                    </div>
                    <h1 class="text-center mt-3">Lorem Ipsum</h1>
                    <div class="divider my-2"></div>
                    <p class="text-center">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="pb-4">
        <div class="container">
            <h1 class="team__title text-center fw-bold fs-3 my-3"
                style="color: #428bca">
                Our Team
            </h1>
            <p class="team__subtitle text-center">
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
                aliquid fuga eum quidem.
            </p>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 py-2 my-1">
                    <div class="team__card">
                        <img class="taem__card__img img-fluid rounded-2"
                             src="https://bootstrapmade.com/demo/templates/Mamba/assets/img/team/team-1.jpg"
                             alt="" />
                        <div class="px-3">
                            <div class="team__desc py-3 d-flex flex-column align-items-center rounded-2">
                                <h5 class="fw-bold text-light">Walter White</h5>
                                <div class="my-1 team__divider"></div>
                                <p class="text-light">Chief Executive Officer</p>
                                <div class="team__socials d-flex mt-1">
                                    <i class="fa-brands text-light fa-twitter mx-2"></i>
                                    <i class="fa-brands text-light fa-facebook mx-2"></i>
                                    <i class="fa-brands text-light fa-instagram mx-2"></i>
                                    <i class="fa-brands text-light fa-linkedin mx-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 py-2 my-1">
                    <div class="team__card">
                        <img class="taem__card__img img-fluid rounded-2"
                             src="https://bootstrapmade.com/demo/templates/Mamba/assets/img/team/team-1.jpg"
                             alt="" />
                        <div class="px-3">
                            <div class="team__desc py-2 d-flex flex-column align-items-center rounded-2">
                                <h5 class="fw-bold text-light">Walter White</h5>
                                <div class="my-1 team__divider"></div>
                                <p class="text-light">Chief Executive Officer</p>
                                <div class="team__socials d-flex mt-1">
                                    <i class="fa-brands text-light fa-twitter mx-2"></i>
                                    <i class="fa-brands text-light fa-facebook mx-2"></i>
                                    <i class="fa-brands text-light fa-instagram mx-2"></i>
                                    <i class="fa-brands text-light fa-linkedin mx-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 py-2 my-1">
                    <div class="team__card">
                        <img class="taem__card__img img-fluid rounded-2"
                             src="https://bootstrapmade.com/demo/templates/Mamba/assets/img/team/team-1.jpg"
                             alt="" />
                        <div class="px-3">
                            <div class="team__desc py-3 d-flex flex-column align-items-center rounded-2">
                                <h5 class="fw-bold text-light">Walter White</h5>
                                <div class="my-1 team__divider"></div>
                                <p class="text-light">Chief Executive Officer</p>
                                <div class="team__socials d-flex mt-1">
                                    <i class="fa-brands text-light fa-twitter mx-2"></i>
                                    <i class="fa-brands text-light fa-facebook mx-2"></i>
                                    <i class="fa-brands text-light fa-instagram mx-2"></i>
                                    <i class="fa-brands text-light fa-linkedin mx-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 py-2 my-1">
                    <div class="team__card">
                        <img class="taem__card__img img-fluid rounded-2"
                             src="https://bootstrapmade.com/demo/templates/Mamba/assets/img/team/team-1.jpg"
                             alt="" />
                        <div class="px-3">
                            <div class="team__desc py-3 d-flex flex-column align-items-center rounded-2">
                                <h5 class="fw-bold text-light">Walter White</h5>
                                <div class="my-1 team__divider"></div>
                                <p class="text-light">Chief Executive Officer</p>
                                <div class="team__socials d-flex mt-1">
                                    <i class="fa-brands text-light fa-twitter mx-2"></i>
                                    <i class="fa-brands text-light fa-facebook mx-2"></i>
                                    <i class="fa-brands text-light fa-instagram mx-2"></i>
                                    <i class="fa-brands text-light fa-linkedin mx-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="pb-5">
        <h1 class="contact__title text-center fw-bold fs-3 mb-5"
            style="color: #428bca">
            Contact Us
        </h1>
        <div class="container">
            <div class="row mt-3 justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 my-3 my-lg-0 col-lg-6 px-2">
                            <div class="rounded-2 contact__container py-5 d-flex flex-column justify-content-center align-items-center">
                                <div class="contact__logo my-2">
                                    <i style="color: #428bca"
                                       class="fa-solid fa-location-dot fs-2"></i>
                                </div>
                                <h4 class="fw-bold text-muted">Our Address</h4>
                                <p>@settings["address"]</p>
                            </div>
                        </div>
                        <div class="col-12 my-3 my-lg-0 col-lg-3 px-2">
                            <div class="rounded-2 contact__container py-4 d-flex flex-column justify-content-center align-items-center">
                                <div class="contact__logo my-2">
                                    <i style="color: #428bca"
                                       class="fa-solid fa-envelope fs-2"></i>
                                </div>
                                <h4 class="fw-bold text-muted">Email Us</h4>
                                <p class="text-muted text-center">
                                    @settings["email1"] @settings["email2"]
                                </p>
                            </div>
                        </div>
                        <div class="col-12 my-3 my-lg-0 col-lg-3 px-2">
                            <div class="rounded-2 contact__container py-4 d-flex flex-column justify-content-center align-items-center">
                                <div class="contact__logo my-2">
                                    <i style="color: #428bca"
                                       class="fa-solid fa-phone-volume fs-2"></i>
                                </div>
                                <h4 class="fw-bold text-muted">Call Us</h4>
                                <p class="text-muted text-center">
                                    @settings["call1"] <br />
                                    @settings["call2"]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 rounded-2 contact__container py-4 mt-3">
                    <form method="post" class="px-3">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input type="text"
                                       class="form-control rounded-0 my-2"
                                       placeholder="Your Name" />
                            </div>
                            <div class="col-12 col-lg-6">
                                <input type="text"
                                       class="form-control rounded-0 my-2"
                                       placeholder="Your Email" />
                            </div>
                        </div>
                        <input type="text"
                               class="form-control rounded-0 my-2"
                               placeholder="Your Name" />

                        <textarea class="form-control rounded-0 my-2"
                                  placeholder="Message"
                                  style="height: 100px"></textarea>
                        <div class="mt-3 d-flex justify-content-center">
                            <div class="btn btn-primary rounded-0"
                                 style="background-color: #428bca">
                                Send Message
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>