@model IPagedList<Setting>

<div class="container">
    <div class="row py-5">
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Key</th>
                        <th>Value</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var setting in Model)
                    {
                        <tr>
                            <th>@setting.Id</th>

                            <td>@setting.Key</td>
                            <td>@setting.Value</td>
                            <td class="d-flex justify-content-center">

                                <a class="btn btn-warning mx-2" asp-area="Admin" asp-controller="Setting" asp-action="Update" asp-route-id="@setting.Id">Update</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pull-right d-flex justify-content-center py-3">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
                new
                {
                page,
                search = Context.Request.Query["search"]
                }),
                new PagedListRenderOptionsBase
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                Display = PagedListDisplayMode.IfNeeded

                })
            </div>
        </div>
    </div>
</div>